/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #673ab7;
}

div {
  position: relative;
  box-sizing: border-box;
}

body {
  background: #1b1b1b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;
  cursor: default;
  user-select: none;
}

#app {
  height: 100vh;
  width: 100vw;
  display: flex;

  #main {
    flex: 1;
    display: flex;
    flex-direction: column;

    #explorer {
      flex: 1;
      display: flex;
      flex-direction: column;

      #search {
        height: 50px;
        line-height: 50px;
        display: flex;
        background: #000;

        #search_icon {
          position: absolute;
          left: 20px;
          pointer-events: none;
        }

        #search_form {
          flex: 1;
          display: flex;
        }

        #search_input {
          background: transparent;
          color: #fff;
          border: none;
          outline: none;
          height: 50px;
          line-height: 50px;
          padding: 0 50px;
          flex: 1;
        }

        #search_filter {
          font-size: 26px;

          .search_filter_item {
            display: inline-block;
            width: 50px;
            text-align: center;
            cursor: pointer;
            border-radius: 10px;
            line-height: 40px;
            border: 5px solid transparent;
            background-clip: content-box;

            &[data-active="false"] {
              background-color: transparent !important;
            }
          }
        }
      }

      #search_result {
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
        grid-gap: 10px;

        &[data-loading="true"] .search_result_source[data-enabled="true"] .search_result_source_list_inner {
          background-image: url("/loading_small.png");
          background-position: center center;
          background-repeat: no-repeat;
          animation: rotation 2s infinite linear;
          filter: hue-rotate(215deg);

          @keyframes rotation {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(359deg);
            }
          }
        }

        .search_result_source {
          background: #080808;
          border-radius: 5px;
          overflow: hidden;
          display: flex;
          flex-direction: column;

          ::-webkit-scrollbar-thumb {
            background: var(--accent-color);
          }

          &[data-enabled="false"] {
            opacity: 0.25;
          }

          .headline {
            font-size: 20px;
            line-height: 2em;
            padding: 0 10px;
            z-index: 5;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
            background-color: var(--accent-color);

            .icon {
              display: inline-block;
              width: 30px;
              margin-right: 5px;
              text-align: center;
            }
          }

          .search_result_source_list {
            flex: 1;

            .search_result_source_list_inner {
              overflow: auto;
              overflow-x: hidden;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
            }
          }
        }
      }
    }

    #now_playing {
      height: 80px;
      border-top: 1px solid #000;

      display: flex;
      .track {
        flex: 1;

        &:first-child {
          color: #1db954;
        }

        &:not(:last-child) {
          border-right: 1px solid #000;
        }
      }
    }
  }

  #playlists {
    width: 350px;
    border-left: 1px solid #000;
    display: flex;
    flex-direction: column;

    #playlist_switch {
      height: 50px;
      background: #000;
      display: flex;

      #logout {
        display: inline-block;
        line-height: 50px;
        color: #fff;
        padding: 0 20px;
        background-color: #673ab7;
      }

      .playlist_switch_button {
        flex: 1;
        display: inline-block;
        line-height: 50px;
        text-align: center;
        cursor: pointer;

        &[data-active="true"]:after {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 10px 10px 10px;
          border-color: transparent transparent #673ab7 transparent;
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left: -10px;
        }
      }
    }

    #playlist_content {
      overflow: auto;
      flex: 1;

      .track {
        border-bottom: 1px solid #000;
      }
    }

    .header {
      position: sticky;
      top: 0;
      line-height: 30px;
      background: #673ab7;
      font-size: 12px;
      font-weight: bold;
      padding: 0 20px;
      z-index: 5;
    }

    .queue_spotify_playlist_input {
      background: transparent;
      color: #fff;
      border: none;
      width: 100%;
      box-sizing: border-box;
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #000;
      text-align: center;
      outline: none;
    }
  }
}

.track {
  padding: 15px;
  display: flex;
  .left {
    width: 50px;

    .cover {
      height: 50px;
      width: 50px;
      background: gray;
      background-size: cover;
      background-position: center center;
      border-radius: 5px;
      overflow: hidden;
    }
  }
  .middle {
    flex: 1;
    padding-left: 10px;
    min-width: 20px;

    .title {
      font-weight: bold;
    }

    .title,
    .artist {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .right {
    white-space: nowrap;
    line-height: 50px;
    .track_control_button {
      cursor: pointer;
      display: inline-block;
      padding: 0 10px;

      &[data-disabled="true"] {
        cursor: wait;
      }
    }
  }
}
